<?xml version="1.0" encoding="utf-8"?>
<manifest package="hise.hznu.istudy"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- 支付宝 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<!-- 友盟分享 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="com.himalayahome.mall.permission.JPUSH_MESSAGE"/>
	<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<!-- Optional. Required for location feature -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>

	<application
		android:name=".app.IStudyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".activity.StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.MainActivity"/>
		<activity android:name=".activity.course.StudyActivity"/>
		<activity android:name=".activity.LoginActivity"/>
		<activity android:name=".activity.course.StudyDatumActivity"/>
		<activity android:name=".activity.course.MyHomeWorkActivity"/>
		<activity android:name=".activity.course.CommentEachActivity"/>
		<activity
			android:name=".activity.mine.PersonInfoActivity"
			android:label="@string/title_activity_person_info"
			android:theme="@style/AppTheme"/>
		<activity android:name=".activity.mine.pickimg.MultiImageSelectorActivity"/>
		<activity android:name=".util.clip.ClipActivity"/>
		<activity android:name=".util.clip.ClipHeaderActivity"/>
		<activity android:name=".activity.course.MyExperimentActivity"/>
		<activity android:name=".activity.course.MyExerciseActivity"/>
		<activity android:name=".activity.course.TestDetailActivity">
		</activity>
		<activity android:name=".activity.course.CommentAreaActivity">
		</activity>
		<activity android:name=".activity.course.PostActivity">
		</activity>
		<activity android:name=".activity.course.EditPostActivity">
		</activity>
		<activity android:name=".activity.course.CallBackActivity">
		</activity>
		<activity android:name=".activity.email.EmailActivity">
		</activity>
		<activity android:name=".activity.mine.SetUserInfoActivity">
		</activity>
	</application>

</manifest>